# Ignorar carpetas generadas automáticamente por Unity
Joc 3D/MagicBall Minecraft Edition/Library/
Joc 3D/MagicBall Minecraft Edition/Temp/
Joc 3D/MagicBall Minecraft Edition/Logs/
Joc 3D/MagicBall Minecraft Edition/Obj/
Joc 3D/MagicBall Minecraft Edition/Build/
Joc 3D/MagicBall Minecraft Edition/Builds/

# Ignorar configuraciones de usuario locales
Joc 3D/MagicBall Minecraft Edition/UserSettings/

# Ignorar archivos de Visual Studio
Joc 3D/MagicBall Minecraft Edition/*.sln
Joc 3D/MagicBall Minecraft Edition/*.csproj
Joc 3D/MagicBall Minecraft Edition/*.pidb
Joc 3D/MagicBall Minecraft Edition/*.user
Joc 3D/MagicBall Minecraft Edition/*.userprefs
Joc 3D/MagicBall Minecraft Edition/.vsconfig
Joc 3D/MagicBall Minecraft Edition/.vs/

# Ignorar archivos del sistema operativo
Joc 3D/MagicBall Minecraft Edition/.DS_Store
Joc 3D/MagicBall Minecraft Edition/Thumbs.db
