################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/02-Bubble
/.vs/Whomp'Em/FileContentIndex
/.vs/Whomp'Em/v17
/Projecte/.vs/Whomp'Em
